/* Switch Palette #4f4f4f #d0d0d0 #00a94f #686576 */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #686576;
    background-color: #d0d0d0;
}

/* Logo and Heading */

h1 h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 2px;
    color: #4f4f4f;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin-left: 7.5px;
    margin-top: 2.5px;
    border-bottom: 2px solid #00a97f;
}


/* Headers */

.h2-header {
    padding-top: 5%;
    margin-left: 7.5px;
    border-bottom: #00a97f 2px solid;
}

.h3-header {
    padding-top: 2.5%;
    text-align: center;
    border-bottom: #00a97f 2px solid;
    font-size: 120%;
}
/* Nav links */

#nav {
    letter-spacing: 1.5px;
}

#nav li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    font-size: 105%;
    
}

#nav a {
    color: #4f4f4f;
    text-decoration: none;
}

/* Nav hover */

#nav a:hover {
    border-bottom: 2px solid #00a97f;
}



/* Generic Page styling */

.paragraph {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: left;
    list-style-type: none;
    font-size: 125%;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: left;
    font-size: 115%
}

/* Home page video */

#home-video {
    margin: 0 auto;
    display: block;
    text-align: center;
}

/* Footing Styling  -  referred to Love Running project*/

#social-icons {
    text-align: center;
}

#social-icons li {
    display: inline;
}

#social-icons i {
    color: #00a97f;
    list-style-type: none;
    font-size: 175%;
    padding: 2.5%;
    text-decoration: none;
}

/* Advice button styling */
.row-1 {
    width: 1000px;
    margin: auto;
}

.row-2 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
}

.title {
    font-size: 115%;
    text-align: center;
}

.advice-card-left {
    float: left;
    width: auto;
    height: 440px;
    position: absolute;
    cursor: pointer;
    border: #00a97f 2px solid;
}

.advice-card-left:hover {
    background-color: #8abbaf;
}

.advice-card-center {
    margin-left: 400px;
    width: auto;
    height: 440px;
    position: absolute;
    cursor: pointer;
    border: #00a97f 2px solid;
}

.advice-card-center:hover {
    background-color: #8abbaf;
}

.advice-card-right {
    margin-left: 800px;
    width: auto;
    height: 440px;
    position: absolute;
    cursor: pointer;
    border: #00a97f 2px solid;
}

.advice-card-right:hover {
    background-color: #8abbaf;
}

.advice-card-content {
    text-align: center;
    width: 300px;
    font-size: 115%;
}

.advice-card-media {
    text-align: center;
}

/* Images across all pages */

.images {
    margin: 0 auto;
    display: block;
    text-align: center;
    border: #00a97f 2px solid;
}